.ItemStyle{
    background-color: bisque;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    .ItemContent{
        font-weight: bold;
    }

    .LeftContent{
        display: flex;
        width: 110px;
        justify-content: space-between;
    }

    .Buttons{
        display: flex;
        width: 150px;
        justify-content: space-between;
    }
}
